@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

* {
    margin: 0;
    padding: 0
}

body {
    font: 18px/1.4 arial, sans-serif;
    height: 100%;
}

body>footer{
    align-items: end;
}

footer {
    margin-top:auto;
    height: 52px;
}

header{
    height: 120px;
}

::-webkit-scrollbar-track
{
	border: 5px solid white;

	/* border-color: transparent; */
}

::-webkit-scrollbar
{
	width: 15px;
}

::-webkit-scrollbar-thumb
{
	background-color: #20adaf;
	border-radius: 10px;
}


div.container.principal{
    min-height: calc(100vh - 172px);
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.pedido{
    display: block !important;
}
div.pedido>div.row{
    display: flex;
    height: 600px;
}
div.pedido>div.row>div.itens{
    overflow-y: scroll;

    max-height: 640px;
}

hgroup{
    background-color: rgb(43, 43, 43);
    padding: 6px 0px 6px 0px;
    padding-inline: 16px;
    align-items: center;
}

hgroup>.social {
    display: flex;
    font-size: 13px;
    margin-bottom: 0px;
    color: white;
    justify-content: end;
}

hgroup>.topbar-legend>h1 {
    font-size: 13px;
    margin-bottom: 0px;
    color: white;
}

hgroup a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
hgroup a:hover{
    color: rgb(219, 219, 219);
    text-decoration: none;
}

h1~h2 {
    font-size: 27px;
    margin: 14px O 14px 0;
    color: 4090;
    text-decoration: none;
}

nav{
    background-color: #004a46;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 16px;
}

nav>ul {
    margin-left: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav>ul>li>a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
nav>ul>li>a:hover {
    display: block;
    color: rgb(228, 228, 228);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

nav>ul>li:hover {
    background-color: rgb(4, 148, 141);
}

nav>ul>li {
    height: 75px;
    display: flex;
    align-items: center;
    float: left;
}

.brand{
    width: 100px;
}

.card>.div-img{
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 150px;
}

.card>img{
    width: 100%;
}