@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

* { margin: 0; padding: 0 } 
    body {
        font: 18px/1.4 arial, sans-serif;
    }

    hgroup>h1 {

        font-size: 36px;

        margin: 12px O 12px 0;

    }

    hgroup a {
        color: #900;
        text-decoration: none;
    }

    h1~h2 {
        font-size: 27px;
        margin: 14px O 14px 0;
        color: 4090;
    }

    nav>ul {
        margin-left: 50px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #004d06;
    }

    nav>ul>li>a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    nav>ul>li {
        float: left;
    }

    nav>ul>li:first-child>a {
        color: #c60;
        text-decoration: none;
    }

    nav>ul>lisfirst-child>a:hover {
        color: 4555;
        text-decoration: underline;
    }

    nav>ul>li:last-child {
        font-size: 26px;
    }

    nav >ul>li:nth-child(3) {
        background: #00d853;
    }